$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

$primaryColor: #eeccff;


.list {
    box-shadow: 0px 5px 15px 0px   #888888;
    padding: 10px;
    &-title {
        background-color: #080808;
        color: #ffff00;
        border: 2px solid #ffff00;
        padding: 7px;
        margin-bottom: 10px;
        font: {
            weight: bold;
        }
        text: {
            transform: capitalize;
        }
    }
    &-header {
        border: 1px solid #ffff00;
        background-color: #ffff00;
        color: #000000;
        font: {
            weight: bold;
        }
        text: {
            transform: capitalize;
        }
    }
    &-body {
        background-color: #FFFFFF;
    }
    &-item {
        border-bottom: 1px solid #CCCCCC;
        padding: 5px;
        &:nth-of-type(odd) {

        }
    }
}
.cursor-style {
    cursor: hand;
}